* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #E9E9E9;
}

@font-face {
    font-family: hpFont;
    src: url(./fonts//HarryP-MVZ6w.ttf);
}

.backImg {
    width: 100vw;
    height: 100vh;
    background-repeat:no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: row;
}

.counterButton {
    font-family: hpFont;
    font-style: italic;
    background: transparent;
    border: none;
    font-size: 180px;
    color: #460104;
    width: fit-content;
    height: fit-content;
}

.p1Area {
    width: 36vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p2Area {
    margin-left: 28vw;
    width: 36vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}