* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #E9E9E9;
}

@font-face {
    font-family: hpFont;
    src: url(./fonts//HarryP-MVZ6w.ttf);
}

.backImg {
    width: 100vw;
    height: 100vh;
    background-repeat:no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: row;
}

.menu {
    justify-self: center;
    align-self: center;
    width: 40vw;
    height: 70vh;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: hpFont;
    font-size: 30px;
    box-shadow: 5px 5px 10px #460104;
}

.counterButton {
    font-family: hpFont;
    font-style: italic;
    background: transparent;
    border: none;
    font-size: 180px;
    color: #460104;
    width: fit-content;
    height: fit-content;
}

.winnerText {
    font-family: hpFont;
    font-size: 40px;
    margin-bottom: 30px;
}

.inputLabel {
    font-family: hpFont;
    font-size: 20px;
}

#maxScoreInput {
    text-align: center;
    margin-top: 5px;
    font-family: hpFont;
}

.playButton {
    margin-top: 15px;
    border-radius: 5px;
    background-color: rgb(214, 192, 165);
    border: none;
    padding: 5px 5px;
}

.p1Area {
    width: 36vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p2Area {
    margin-left: 28vw;
    width: 36vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mandrakeLeft {
    height: auto; 
    width: auto; 
    max-height: 150px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.mandrakeRight {
    height: auto; 
    width: auto; 
    max-height: 150px;
    position: fixed;
    bottom: 0;
    right: 0;
}

